# Configurações gerais
ENV=development
PORT=4000
JWT_SECRET=aotJ9a16XUkU3u4o8Pt8D9RJbJs7c9hO

# Configurações do MongoDB
MONGO_URI=mongodb://localhost:27017/anthor-agi?retryWrites=true&w=majority

# Configurações do Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

# Configurações da IA
AI_MODEL=gemini-2.0-flash-001
EMBEDDING_MODEL=text-embedding-005
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/google.json

# Configurações do Supabase
SUPABASE_URL=https://sywkdkazcwzbexjyifhg.supabase.co
SUPABASE_API_KEY=your-supabase-api-key

# Configurações do AWS S3
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_BUCKET_NAME=workers.anthor.com.br

# Configurações do Sentry
SENTRY_DSN=your-sentry-dsn

# Configurações do SendGrid
SENDGRID_EMAIL=naoresponda@anthor.com.br
SENDGRID_API_KEY=your-sendgrid-api-key
WELCOME_EMAIL_TEMPLATE_ID=d-8343b2b633d34703ba9eb46307c71fda
APPROVED_EMAIL_TEMPLATE_ID=d-ceda4501fcaa40848db70d1f11d375cf
FINISH_EMAIL_TEMPLATE_ID=d-5e921e389fa24c4390a52b3b9b4f07d2

# Configurações de Token
TOKEN_EXPIRATION_TIME=your-token-expiration-time
